.categories {
    display: flex;
    padding-left: 15%;
}
.categoriesBox {
    width: 100%;
}
form p {
    width: 100%;
}
form p label span {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 1.5vw!important;
    
}