body {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../../img/backg.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.homeview {
    padding-top: 70px;
}
@font-face {
    font-family: Chocolatines;
    src: url(../../Fonts/Chocolatines.ttf)
}
.Homebox {
    height: 90vh;
    display: flex;
    align-items: center;
    border-bottom: 3px solid;
    border-color: black;
    background-color: #556573;
    border-radius: 10px;
}

.Homeimg {
    margin: auto;    
}
.Hometext {
    font-family: 'Chocolatines';
    font-size: 8vw;
    color: white;
}

.Background {
    padding: 0 90px;
    
}
.Homespacer {
    width: 100%;
    height: 20vh;
}
.tittle {
    text-align: center;
    padding-top: 2%;
}
.Boxtittle {
    font-family:'chocolatines';
    font-size: 5vw;
    font-weight: bold;
    margin: 0;
    color: #011126;
}